<div class="Sidebar js-Sidebar is-blog">
  <ul class="main-menu">
      <%- partial('partials/main_menu') %>
  </ul>
  <div class="list">
      <h2>
          Recent Posts
          <a href="/atom.xml" rel="noreferrer noopener" target="_blank" style="vertical-align: middle; margin-left: 5px">
              <img src="/images/feed.png" style="width:15px;height:15px">
          </a>
      </h2>
      <ul>
      <% site.posts.sort('date', -1).limit(10).each(function (post) { %>
          <li>
              <a href="/<%- post.path %>" class="sidebar-link<%- page.title === post.title ? ' current' : '' %>"><%- post.title %></a>
          </li>
      <% }) %>
      </ul>
      <%- partial('partials/social') %>
  </div>
</div>

<div class="Content js-Content with-sidebar">
  <h1 style="text-align: center; margin-bottom:.5em">The <%- config.title %> Blog</h1>
  <% site.posts.sort('date', -1).each(function (post) { %>
    <div class="post">
      <h2><a href="/<%- post.path %>"><%- post.title %></a></h2>
      <h4><%- post.date.format('MMM D[,] YYYY') %></h4>
      <div><%- post.excerpt %></div>
      <a href="/<%- post.path %>">Continue reading ...</a>
    </div>
  <% }) %>
</div>
