<%
  var categories = []

  if (page.type === 'docs') {
    categories = [
      { category: 'Docs', path: 'docs/', link: true, hidden: true },
      { category: 'UI Elements', path: 'docs/dashboard/', link: false },
      { category: 'Sources', path: 'docs/drag-drop/', link: false, tagline: '(remote sources are denoted with (c) and require <a href="/docs/companion/">Companion</a>' },
      { category: 'Destinations', path: 'docs/tus/', link: false },
      { category: 'File Processing', path: 'docs/robodog/', link: true },
      { category: 'Miscellaneous', path: 'docs/form/', link: false },
      { category: 'Community Projects', path: 'docs/community-projects/', link: true },
      { category: 'React', path: 'docs/react/', link: true },
      { category: 'Contributing', path: 'docs/contributing/', link: true },
      ]
    } else if (page.type === 'examples') {
      categories = [
      { category: 'Examples', path: 'examples/', link: true, hidden: true },
      { category: 'File Processing', path: 'examples/markdown-snippets/', link: true },
    ]
  } else {
    categories = [
      { category: 'Unknown Type: ' + page.type, path: 'unknown/unknown/', link: false },
    ]
  }

  var catPages = {}
  site.pages.find({ type }).each((p) => {
    if (only_modules === true) {
      if (!p.module) {
        return;
      }
    }

    if (!p.title && !p.menu) {
      return;
    }
    if (!p.path|| p.path === 'undefined') {
      return;
    }

    var path = (p.path || '').replace(/index\.html$/, '');
    catPages[p.category] = catPages[p.category] || [];
    catPages[p.category].push(p);
  })
%>
<% for (var i in categories) { %>
    <% var sorted = (catPages[categories[i].category] || []).sort((a, b) => {return a.order - b.order}) %>
    <% if (!categories[i].hidden && sorted.length) { %>
        <% if (categories[i].link && add_taglines === false) { %>
        <h3 key="<%-'category-' + i + '-' + categories[i].category %>" data-scroll="no"><a href="/<%- categories[i].path %>"><%- categories[i].category %></a></h3>
        <% } else { %>
        <h3 key="<%-'category-' + i + '-' + categories[i].category %>" data-scroll="no"><%- categories[i].category %></h3>
        <% } %>
    <% } %>
    <ul>
      <% sorted.forEach((p, j) => { %>
        <% var path = (p.path || '').replace(/index\.html$/, ''); %>
        <% var firstInCategory = categories.find((c) => c.path === path) %>
        <li key="<%-'p-' + j + '-' + p.path %>">
          <%- p.menu_prefix %><a href="/<%- path %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %>"><%- add_taglines === true ? p.title : p.menu || p.title %></a>
          <% if (add_taglines === true && p.tagline) { %>
            <%- ' — ' + p.tagline %>
          <%}%>
        </li>
      <% }) %>
    </ul>
<% } %>
