<!-- @todo uncomment search input when we get our own swifttype -->
<!-- <li>
  <form id="search-form" class="MainMenu-search">
    <input type="text" id="search-query" class="MainMenu-searchQuery st-default-search-input">
  </form>
</li> -->
<!--li><a href="/guide/" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">Guide</a></li-->
<li><a href="/docs/" class="nav-link<%- page.path.match(/docs/) ? ' current' : '' %>">Docs</a></li>
<li><a href="/examples/dashboard/" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">Examples</a></li>
<!--li><a href="/stats/" class="nav-link<%- page.path.match(/stats/) ? ' current' : '' %>">Stats</a></li-->
<li><a href="/blog/" class="nav-link<%- page.path.match(/blog/) ? ' current' : '' %>">Blog</a></li>
<li><a href="https://github.com/transloadit/uppy" class="nav-link">Github</a></li>
