<div class="sidebar">
    <ul class="main-menu">
        <%- partial('partials/main_menu') %>
    </ul>
    <div class="list">
        <h2>
            <%- type === 'api' ? 'API' : (type.charAt(0).toUpperCase() + type.slice(1)) %>
            <select class="version-select">
                <option selected>1.0</option>
                <option>0.12</option>
                <option>0.11</option>
            </select>
        </h2>
        <ul class="menu-root">
            <% type !== 'api' && site.pages.find({type: type}).sort('order').each(function (p) { %>
                <li>
                    <a href="/<%- p.path %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
                </li>
            <% }) %>
        </ul>
        <div id="donate">
            <span class="wrapper" style="width: 110px">
              <img src="/images/paypal.png">
              <a href="https://www.paypal.me/transloadit" target="_blank">Buy Me Coffee</a>
            </span>
        </div>
    </div>
</div>
