<%
var categories = [
  { category: 'Docs', path: 'docs/', link: true, hidden: true },
  { category: 'Plugins', path: 'docs/plugins/', link: true },
  { category: 'UI Elements', path: 'docs/dashboard/', link: false },
  { category: 'Local Sources', path: 'docs/drag-drop/', link: false },
  { category: 'Remote Sources', path: 'docs/providers/', link: true },
  { category: 'Destinations', path: 'docs/tus/', link: false },
  { category: 'Miscellaneous', path: 'docs/form/', link: false },
  { category: 'File Processing', path: 'docs/transloadit/', link: false },
  { category: 'Robodog', path: 'docs/robodog/', link: true },
  { category: 'React', path: 'docs/react/', link: true },
]

var catPages = {}
site.pages.find({ type }).each((p) => {
  var path = (p.path || '').replace(/index\.html$/, '');
  catPages[p.category] = catPages[p.category] || [];
  catPages[p.category].push(p);
})
%>
<div class="Sidebar js-Sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu') %>
  </ul>
  <div class="list">
    <h2>
      <% if (page.type) { %>
        <a href="/<%- type %>"><%- type === 'api' ? 'API' : (type.charAt(0).toUpperCase() + type.slice(1)) %></a>
      <% } %>
    </h2>

    <ul class="menu-root">
      <% for (var i in categories) { %>
        <% var sorted = (catPages[categories[i].category] || ['No catPages for: ' + i]).sort((a, b) => {return a.order - b.order}) %>
        <% if (!categories[i].hidden) { %>
          <li>
            <% if (categories[i].link) { %>
            <h3><a href="/<%- categories[i].path %>"><%- categories[i].category %></a></h3>
            <% } else { %>
            <h3><%- categories[i].category %></h3>
            <% } %>
          </li>
        <% } %>
        <% sorted.forEach((p) => { %>
          <% var path = (p.path || '').replace(/index\.html$/, ''); %>
          <% var firstInCategory = categories.find((c) => c.path === path) %>
          <% // see https://github.com/vuejs/vuejs.org/blob/master/themes/vue/layout/partials/toc.ejs %>
          <li>
            <a href="/<%- path %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.menu || p.title %></a>
          </li>
        <% }) %>
      <% } %>
    </ul>
    <%- partial('partials/social') %>
  </div>
</div>

