<div class="Sidebar js-Sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu') %>
  </ul>
  <div class="list">
    <h2>
      <% if (page.type) { %>
        <a href="/<%- type %>"><%- type === 'api' ? 'API' : (type.charAt(0).toUpperCase() + type.slice(1)) %></a>
      <% } %>
    </h2>
    <ul class="menu-root">
      <% site.pages.find({type: type}).sort('order').each(function (p) { %>
        <% var path = p.path.replace(/index\.html$/, ''); %>
        <% // see https://github.com/vuejs/vuejs.org/blob/master/themes/vue/layout/partials/toc.ejs %>
        <% if (path === 'docs/plugins/') { %>
          <li>
            <h3><a href="/docs/plugins/">Plugins</a></h3>
          </li>
          <li>
            <a href="/<%- path %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
          </li>
        <% } else { %>
          <li>
            <a href="/<%- path %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
          </li>
        <% } %>
      <% }) %>
    </ul>
    <%- partial('partials/social') %>
  </div>
</div>
