<div class="Sidebar js-Sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu') %>
  </ul>
  
  <% if (page.type !== "page") { %>
  <div class="list">
    <h2>
      <a href="/<%- type %>"><%- type === 'api' ? 'API' : (type.charAt(0).toUpperCase() + type.slice(1)) %></a>
    </h2>
      
    <div class="menu-root">
      <%- partial('partials/docs_menu') %>
    </div>

    <%- partial('partials/social') %>
    </div>
  <% } %>
</div>

