<section id="hero" class="IndexHero">
  <img class="IndexHero-logo" title="Uppy" alt="Uppy" src="<%- config.logo_medium %>">
  <h1 class="IndexHero-title">
    Sleek, modular open-source JavaScript file uploader
  </h1>
  <div class="IndexHero-description">
    <%- config.description %>
  </div>
  <div class="IndexHero-buttons">
    <a href="#" class="button button--cta">Get Started</a>
    <a href="#" class="button button--secondary">Uppy on GitHub</a>
  </div>
</section>

<section class="IndexDemo">
  [demo]
</section>

<!-- <section id="example" class="IndexExample">

  <div class="IndexExample-block">
    <video class="IndexExample-video"
           autoplay loop muted playsinline>
      <source src="/images/uppy-demo-oct-2018.mp4" type="video/mp4">
      Your browser does not support the video tag, you can <a href="/images/uppy-demo-oct-2018.mp4">download the video</a> to watch it.
    </video>
    <form id="upload-form">
      <input type="file">
    </form>
    <p class="TryMe-line">Try me: <button id="select-files" class="TryMe-btn">Select Files</button></p>
  </div>

  <div class="IndexExample-block">
    <%- partial('partials/frontpage-code-sample') %>
  </div>

  <a class="GetStartedBtn" href="/docs/">Get Started</a>
</section> -->

<section class="IndexFeatures">
  <h2>Features</h2>
  <ul class="IndexFeatures-list">
    <li><strong>Lightweight,</strong> modular plugin-based architecture, easy on dependencies ⚡️</li>
    <li><strong>Resumable file uploads</strong> via the open <strong><a href="https://tus.io/">tus</></strong> standard, so large uploads survive network hiccups</li>
    <li>Supports picking files from <strong>Webcam, Dropbox, Google Drive, Instagram,</strong> bypassing the user’s device where possible, syncing between servers directly via <strong><a href="/docs/companion/">Companion</a></></li>
    <li>Works great with file encoding and processing backends, such as <strong><a href="https://transloadit.com/">Transloadit</a></strong>, works great without</li>
    <li><strong>Open source and driven by the community.</strong> We listen closely and adjust the project based on your feedback ❤️</li>
    <li><strong>Sleek user interface ✨</strong></li>
    <li>Optional file recovery (after a browser crash) with <strong><a href="/docs/golden-retriever/">Golden Retriever</a></strong></li>
    <li>Speaks <strong>multiple languages</strong> (i18n) 🌍</li>
    <li>Built with accessibility in mind</li>
    <li><strong>Free for the world, forever</strong></li>
    <li>Cute as a puppy, also accepts cat pictures 🐶</li>
  </ul>
</section>

<section class="IndexActivity">
  <h2>Activity Feed</h2>

  <div class="on-the-githubs" data-event-source="repos/transloadit/uppy">Loading...</div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//kvz.github.io/on-the-githubs/js/jquery.on-the-githubs.min.js"></script>
  <script type="text/javascript">
    $('.on-the-githubs').onthegithubs();
  </script>
</section>

<section>
  <%- partial('partials/social') %>
</section>

<footer class="IndexFooter">
  <p>Released under the <a href="http://opensource.org/licenses/MIT" rel="noreferrer noopener" target="_blank">MIT License</a></p>
  <p>This site borrows heavily from Evan You's excellent <a href="https://github.com/vuejs/vuejs.org">Vue.js</a> (<a href="https://github.com/transloadit/uppy/blob/master/website/VUEORG_LICENSE">LICENSE</a>) (he <a href="https://twitter.com/youyuxi/status/672441843183960067">approves</a>)</p>
  <p>© <%- date(Date.now(), 'YYYY') %> <a href="https://transloadit.com" rel="noreferrer noopener" target="_blank">Transloadit</a></p>
  <p><a href="/privacy-policy/">Privacy Policy</a></p>
</footer>

<link href="https://transloadit.edgly.net/releases/uppy/v0.30.4/uppy.min.css" rel="stylesheet">
<script src="https://transloadit.edgly.net/releases/uppy/v0.30.4/uppy.min.js"></script>

<script>
  var TUS_ENDPOINT = 'https://master.tus.io/files/'
  var COMPANION_ENDPOINT = 'http://localhost:3020'
  if (location.hostname === 'uppy.io') {
    COMPANION_ENDPOINT = '//companion.uppy.io'
  }

  var uppy = Uppy.Core({ debug: true, autoProceed: false })
    .use(Uppy.Dashboard, {
      trigger: '#select-files',
      target: '#upload-form',
      replaceTargetContent: true,
      metaFields: [
        { id: 'license', name: 'License', placeholder: 'specify license' },
        { id: 'caption', name: 'Caption', placeholder: 'describe what the image is about' }
      ]
    })
    .use(Uppy.GoogleDrive, { target: Uppy.Dashboard, serverUrl: COMPANION_ENDPOINT })
    .use(Uppy.Instagram, { target: Uppy.Dashboard, serverUrl: COMPANION_ENDPOINT })
    .use(Uppy.Webcam, { target: Uppy.Dashboard })
    .use(Uppy.Url, { target: Uppy.Dashboard, serverUrl: COMPANION_ENDPOINT })
    .use(Uppy.Tus, { endpoint: TUS_ENDPOINT})

  uppy.on('success', (files) => {
    console.log(`Upload complete! We’ve uploaded these files: ${files}`)
  })
</script>
