<% var isIndex = page.path === 'index.html' %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- page.title ? page.title + ' - ' : '' %><%- config.title %></title>
    <meta charset="utf-8">
    <meta name="description" content="<%- config.title %> - <%- config.subtitle %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto Mono" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Poiret+One:400" rel="stylesheet">
    <link rel="icon" href="<%- config.logo_icon %>" type="image/x-icon">
    <script>
      window.PAGE_TYPE = "<%- page.type %>"
    </script>
    <%- css('css/main') %>
    <%- partial('partials/ga') %>
  </head>
  <body class="<%= isIndex ? 'page-index' : 'page-inner' %>">
    <div class="page">
      <header id="header" class="MainHeader js-MainHeader">
        <button class="MainHeader-menuBtn js-MenuBtn"></button>

        <a id="logo" class="MainLogo" href="/">
          <img class="MainLogo-img" src="<%- config.logo_medium %>">
          <span class="MainLogo-text"><%- config.title %></span>
        </a>

        <nav>
          <ul id="nav" class="MainMenu">
            <%- partial('partials/main_menu') %>
          </ul>
        </nav>
      </header>

      <main class="MainContent js-MainContent" id="main">
        <%- body %>
      </main>

      <% if (!isIndex) { %>
        <script src="/js/smooth-scroll.min.js"></script>
        <script src="/js/common.js"></script>
      <% } %>
    </div>
  </body>
</html>
