<% var isIndex = page.path === 'index.html' %>
<% var title = page.title ? page.title + ' — ' + config.title : config.title %>
<% var excerpt = page.excerpt ? page.excerpt.replace(/(<([^>]+)>)/ig, '').substring(0, 400) : config.description %>
<% var image = page.image ? page.image : 'http://uppy.io/images/uppy-social-pink.png' %>
<% 
if (page.series) {
  title = page.series + ': ' + page.title
}
%>

<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- title %></title>
    <meta charset="utf-8">
    <meta name="title" content="<%= title %>">
    <meta name="description" content="<%= excerpt %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@uppy_io">
    <meta name="twitter:creator" content="@uppy_io">
    <meta property="og:url" content="<%- url %>">
    <meta property="og:title" content="<%- title %>">
    <meta name="twitter:title" content="<%- title %>">
    <meta name="twitter:description" content="<%- excerpt %>">
    <meta property="og:image" content="<%- image %>">
    <meta name="twitter:image" content="<%- image %>">
    
    <meta name="google-site-verification" content="JxARoHXoCI8bD07pLV_u3z6xpuWNcSIZIcHEytyCkUc" />

    <link rel="icon" href="<%- config.logo_icon %>" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" title="<%= config.title %>" href="/atom.xml">

    <script>
      window.PAGE_TYPE = "<%- page.type %>"
    </script>
    <%- css('css/main').replace('.css', '.css?version=2') %>
    <!-- ^ poor man's solution to css cache busting. bump the version when there's something new we really want users to see -->
  </head>
  <body class="<%= isIndex ? 'page-index' : 'page-inner' %> <%= page.body_class %>">
    <div class="page">
      <div class="TransloaditBar">
        <a class="TransloaditBar-logo" href="https://transloadit.com/" target="_blank" rel="noopener noreferrer">
          <img class="TransloaditBar-logoImg" src="/images/transloadit.svg" width="82" height="19" alt="Transloadit">
        </a>
        <div class="TransloaditBar-about">Uppy is an open source project by <a class="TransloaditBar-link" href="https://transloadit.com/" target="_blank">Transloadit</a></div>
      </div>

      <header id="header" class="MainHeader js-MainHeader">
        <button class="MainHeader-menuBtn js-MenuBtn"></button>

        <span id="logo" class="MainLogo">
          <a class="MainLogo-link" href="/"><%- config.title %></a>
          <!-- Was used for 1.0, we can re-use for 2.0 or major announcements -->
          <!-- <a class="MainLogo-version" href="/blog/2019/04/1.0/">
            1.0
            <span class="MainLogo-emoji">
              <img src="/images/party-popper.png" srcset="/images/party-popper@2x.png 2x" alt="🎉">
            </span>
          </a> -->
        </span>

        <nav>
          <ul id="nav" class="MainMenu">
            <%- partial('partials/main_menu') %>
          </ul>
        </nav>

        <div class="MainHeader-tagline">
          The file uploader that <span class="MainHeader-taglinePart js-MainHeader-taglinePart is-visible">loves to play fetch</span>
        </div>

        <ul class="MainHeader-taglineList js-MainHeader-taglineList">
          <% site.data.taglines.forEach(function(tagline) {%>
          <li><%- tagline %></li>
          <% }); %>
        </ul>
      </header>

      <main class="MainContent js-MainContent" id="main">
        <% if (page.blog_index) { %>
          <%- partial('partials/blog') %>
        <% } else { %>
          <%- body %>
        <% } %>
      </main>

      <%- partial('partials/ga') %>

      <% if (!isIndex) { %>
        <script src="/js/smooth-scroll.min.js"></script>
        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
      <% } else { %>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="//kvz.github.io/on-the-githubs/js/jquery.on-the-githubs.min.js"></script>
        <script type="text/javascript">
          $('.on-the-githubs').onthegithubs();
        </script>        
      <% } %>
      <script src="/js/common.js"></script>

      <!-- Twitter follow button script -->
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <!--script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
      <script>
        WebFont.load({
          google: {
            families: ['Source Sans Pro:400,600', 'Roboto Mono', 'Poiret One:400']
          }
        });
      </script-->
    </div>
  </body>
</html>
