<% var isIndex = page.path === 'index.html' %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%- page.title ? page.title + ' - ' : '' %><%= config.title %></title>
    <meta charset="utf-8">
    <meta name="title" content="<%= config.title %>">
    <meta name="description" content="<%= config.subtitle %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@uppy_io">
    <meta name="twitter:creator" content="@uppy_io">
    <meta property="og:url" content="<%- url %>">
    <meta property="og:title" content="<%= page.title ? page.title + ' - ' : '' %><%- config.title %>">
    <meta name="twitter:title" content="<%= page.title ? page.title + ' - ' : '' %><%- config.title %>">
    <meta name="description" content="<%= config.description %>">
    <meta name="twitter:description" content="<%= config.description %>">
    <meta property="og:image" content="<%- config.url %>/images/uppy-social.jpg">
    <meta name="twitter:image" content="<%- config.url %>/images/uppy-social.jpg">
    <link rel="alternate" type="application/rss+xml" title="<%= config.title %>" href="/atom.xml">

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto+Mono" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Poiret+One:400" rel="stylesheet">
    <link rel="icon" href="<%- config.logo_icon %>" type="image/x-icon">
    <script>
      window.PAGE_TYPE = "<%- page.type %>"
    </script>
    <%- css('css/main') %>
    <%- partial('partials/ga') %>
  </head>
  <body class="<%= isIndex ? 'page-index' : 'page-inner' %>">
    <div class="page">
      <header id="header" class="MainHeader js-MainHeader">
        <button class="MainHeader-menuBtn js-MenuBtn"></button>

        <a id="logo" class="MainLogo" href="/">
          <img class="MainLogo-img" src="<%- config.logo_medium %>">
          <span class="MainLogo-text"><%- config.title %></span>
        </a>

        <nav>
          <ul id="nav" class="MainMenu">
            <%- partial('partials/main_menu') %>
          </ul>
        </nav>
      </header>

      <main class="MainContent js-MainContent" id="main">
        <% if (page.blog_index) { %>
          <%- partial('partials/blog') %>
        <% } else { %>
          <%- body %>
        <% } %>
      </main>

      <% if (!isIndex) { %>
        <script src="/js/smooth-scroll.min.js"></script>
      <% } %>
      <script src="/js/common.js"></script>


      <!-- Twitter follow button script -->
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      <!--script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
      <script>
        WebFont.load({
          google: {
            families: ['Source Sans Pro:400,600', 'Roboto Mono', 'Poiret One:400']
          }
        });
      </script-->
    </div>
  </body>
</html>
