<% if (page.type) { %>
    <%- partial('partials/sidebar', { type: page.type, index: page.index }) %>
<% } %>
<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %>">
    <h1><%- page.title %></h1>
    <%- page.content %>
    <% if (page.type === 'guide') { %>
      <div class="guide-links">
        <% site.pages.find({ type: page.type, order: page.order - 1 }).each(function (page) { %>
          <span>← <a href="<%- url_for(page.path) %>"><%- page.title %></a></span>
        <% }) %>
        <% site.pages.find({ type: page.type, order: page.order + 1 }).each(function (page) { %>
          <span style="float:right"><a href="<%- url_for(page.path) %>"><%- page.title %></a> →</span>
        <% }) %>
      </div>
    <% } %>
    <div class="footer">Caught a mistake or want to contribute to the documentation?
       <a href="https://github.com/transloadit/uppy/blob/master/website/src/<%- page.source %>" target="_blank">Edit/fork this page directly on Github</a>!
    </div>
</div>
