<% if (page.type) { %>
    <%- partial('partials/sidebar', { type: page.type, index: page.index }) %>
<% } %>
<div class="content <%- page.type ? page.type + ' with-sidebar' : '' %>">
    <h1><%- page.title %><%- page.type === 'examples' ? ' Example' : '' %></h1>
    <div id="ad">
        <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=transloadit" id="_carbonads_js"></script>
    </div>
    <%- page.content %>
    <% if (page.type === 'guide') { %>
      <div class="guide-links">
        <% site.pages.find({ type: page.type, order: page.order - 1 }).each(function (page) { %>
          <span>← <a href="<%- url_for(page.path) %>"><%- page.title %></a></span>
        <% }) %>
        <% site.pages.find({ type: page.type, order: page.order + 1 }).each(function (page) { %>
          <span style="float:right"><a href="<%- url_for(page.path) %>"><%- page.title %></a> →</span>
        <% }) %>
      </div>
    <% } %>
    <div class="footer">Caught a mistake or want to contribute to the documentation? <a href="https://github.com/transloadit/uppyjs.io" target="_blank">Fork this site on Github</a>!</div>
</div>
