<div class="Sidebar">
    <div class="list">
        <h2>Recent Posts</h2>
        <ul>
        <% site.posts.sort('date', -1).limit(10).each(function (post) { %>
            <li>
                <a href="/<%- post.path %>" class="sidebar-link<%- page.title === post.title ? ' current' : '' %>"><%- post.title %></a>
            </li>
        <% }) %>
        </ul>
    </div>
</div>
<div class="Content js-Content">
    <h1><%- page.title %></h1>
    <h4><%- page.date.format('MMM D[,] YYYY') %></h4>
    <%- page.content %>
</div>
