<div class="sidebar blog">
    <ul class="main-menu">
        <%- partial('partials/main_menu') %>
    </ul>
    <div class="list">
        <h2>Recent Posts</h2>
        <ul>
        <% site.posts.sort('date', -1).limit(10).each(function (post) { %>
            <li>
                <a href="/<%- post.path %>" class="sidebar-link<%- page.title === post.title ? ' current' : '' %>"><%- post.title %></a>
            </li>
        <% }) %>
        </ul>
    </div>
</div>
<div class="content blog post">
    <h1><%- page.title %></h1>
    <div id="ad">
        <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=transloadit" id="_carbonads_js"></script>
    </div>
    <h4><%- page.date.format('MMM D[,] YYYY') %></h4>
    <%- page.content %>
</div>
